<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>scopes</key>
	<string>user-read-private%20playlist-modify-public%20playlist-read-private%20playlist-modify-private%20user-follow-read%20user-library-modify%20user-library-read%20user-read-email</string>
	<key>redirectURI</key>
	<string>https://github.com/bigdan19/</string>
	<key>tokenAPIURL</key>
	<string>https://accounts.spotify.com/api/token</string>
	<key>clientID</key>
	<string>d2be471fdfec46bbb7cdb098b3ac81e2</string>
	<key>clientSecret</key>
	<string>d731796a49404a6a9bb031992fa44a17</string>
</dict>
</plist>
